<% data.services.each do |s| %>
  <% if s.id == id %>
    <ol class="breadcrumb">
      <li><%= breadcrumbs(current_page) %></li>
    </ol>
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-headline">
          <%= s.name %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Overview</h2>
        <p class="services-text">
          <%= s.long_desc %>
        </p>
      </div>
    </div>
    <% if s.target_audience %>
      <div class="row">
        <div class="col-md-12">
          <h3>Target Audiences</h3>
          <p><%= s.target_audience %></p>
        </div>
      </div>
    <% end %>

    <% if s.category == "Education" %>
      <div class="row">
        <div class="col-md-6">
          <h2>What’s Included</h2>
          <ul>
            <li>Live training sessions delivered by a GitLab technical trainer</li>
            <li>Lecture with demonstrations</li>
            <li>Hands-on Labs</li>
            <li>Slides with notes and reference links</li>
          </ul>
        </div>

        <% if s.learning_objectives %>
          <div class="col-md-6">
            <h2>Learning Objectives</h2>
            <ul>
              <% s.learning_objectives.each do |objective| %>
                <li><%= objective %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="row">
        <% if s.price_desc %>
          <div class="col-md-6">
            <h2>Price</h2>
            <p><%= s.price_desc %></p>
          </div>
        <% end %>
        <% if s.duration_desc %>
          <div class="col-md-6">
            <h3>Duration</h3>
            <p><%= s.duration_desc %></p>
          </div>
        <% end %>
        <% if s.class_size %>
          <div class="col-md-6">
            <h3>Class Size</h3>
            <p><%= s.class_size %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
